// Text
.text-purple {
  color: hsla(282, 83%, 52%, 1);  
}
.text-blue-4 {
  color: hsla(204, 94%, 68%, 1);  
}
.text-blue-5 {
  color: hsla(230, 76%, 59%, 1);  
}
.text-dark-blue-4 {
  color: hsla(230, 31%, 31%, 1);  
}
.text-dark-blue-5 {
  color: hsla(231, 33%, 34%, 1);  
}
.text-grey-4 {
  color: hsla(224, 20%, 49%, 1);  
}
.text-white {
  color: hsla(0, 0%, 100%, 1);  
}
.text-grey-2 {
  color: hsla(230, 60%, 98%, 1);  
}
.text-grey-3 {
  color: hsla(231, 100%, 97%, 1);  
}
.text-orange {
  color: hsla(14, 83%, 74%, 1);  
}


// Background
.bg-purple {
  background-color: hsla(282, 83%, 52%, 1);  
}
.bg-blue-4 {
  background-color: hsla(204, 94%, 68%, 1);  
}
.bg-blue-5 {
  background-color: hsla(230, 76%, 59%, 1);  
}
.bg-dark-blue-4 {
  background-color: hsla(230, 31%, 31%, 1);  
}
.bg-dark-blue-5 {
  background-color: hsla(231, 33%, 34%, 1);  
}
.bg-grey-4 {
  background-color: hsla(224, 20%, 49%, 1);  
}
.bg-white {
  background-color: hsla(0, 0%, 100%, 1);  
}
.bg-grey-2 {
  background-color: hsla(230, 60%, 98%, 1);  
}
.bg-grey-3 {
  background-color: hsla(231, 100%, 97%, 1);  
}
.bg-orange {
  background-color: hsla(14, 83%, 74%, 1);  
}