.main {
  --_comment-author-size: 40px;
  --_comment-line-adjustment: 1.3rem;
  margin-inline: auto;
  margin-bottom: 9rem;
  width: 90%;
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 700px) {
  .main {
    width: clamp(20rem, 90%, 730px);
  }
}

.comment-count {
  margin-bottom: 1.75rem;
}

.feedback-controler {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback-controler button {
  margin-bottom: 0;
}

.comments {
  display: grid;
  padding: 0;
  list-style: none;
}

.comment {
  display: grid;
  list-style: none;
  grid-template-columns: auto 1fr auto;
}
.comment[data-type=reply] {
  position: relative;
  margin: 0;
}
.comment[data-type=reply] + .comment[data-type=reply] {
  padding-top: 1rem;
}
.comment:not([data-type=reply]) > .lal::before, .comment[data-type=reply]::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: var(--_comment-line-adjustment);
  left: 0;
  background-color: var(--clr-comment-border);
  width: 1px;
}
.comment:not([data-type=reply]) > .lal::before {
  display: none;
}
.comment[data-type=reply]:last-child::before {
  height: var(--_comment-author-size);
}
.comment:not([data-type=reply]) + .comment:not([data-type=reply]) {
  border-top: 1px solid var(--clr-comment-border);
  padding-top: 1rem;
  margin-top: 1rem;
}
.comment .user-img {
  grid-row: 1/3;
  grid-column: 1;
  border-radius: 50%;
  aspect-ratio: 1/1;
  align-self: center;
  margin-right: var(--_comment-line-adjustment);
}
.comment .user-name {
  align-self: end;
  grid-row: 1;
  grid-column: 2;
}
.comment .user-email {
  grid-row: 2;
  grid-column: 2;
}
.comment .reply-btn {
  align-self: center;
  grid-row: 1/3;
  grid-column: 3;
}
.comment .lal {
  display: block;
  position: relative;
  grid-column: 1/4;
  padding-bottom: 1rem;
  grid-row: 3;
  margin-top: 1rem;
}
.comment .lal:has(.reply-list)::before {
  display: none;
}
@media (min-width: 700px) {
  .comment .lal {
    grid-column: 1/4;
    padding-left: calc(var(--_comment-author-size) / 2 + var(--_comment-line-adjustment));
    margin-left: calc(var(--_comment-author-size) / 2);
  }
}
.comment .reply-form {
  display: grid;
  gap: 1rem;
}
.comment .reply-form > textarea {
  max-height: 80px;
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 700px) {
  .comment .comment-text {
    padding: 0;
    grid-row: 3;
    grid-column: 2/4;
  }
  .comment .reply-form {
    margin-block: 1rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-column: 2/4;
  }
  .comment .reply-form > textarea {
    margin-block: 0rem;
    max-height: 80px;
    width: 100%;
  }
  .comment:not([data-type=reply], :has(.reply-list:empty)) > .lal::before {
    display: block;
  }
  .comment[data-type=reply] {
    margin-left: calc(var(--_comment-author-size) / 2);
  }
}

.reply-list {
  padding: 0;
  position: relative;
  grid-column: 1/4;
  margin-left: 0rem;
  display: grid;
}
.reply-list > * {
  padding-left: calc(var(--_comment-author-size) / 2);
  margin-left: 1rem;
}
@media (min-width: 700px) {
  .reply-list {
    grid-column: 1/4;
  }
}

.add-comment-wrapper {
  display: grid;
}
.add-comment-wrapper > h2 {
  grid-column: 1/3;
  grid-row: 1;
  padding-bottom: 1.5rem;
}
.add-comment-wrapper > textarea {
  width: 100%;
  grid-column: 1/3;
  grid-row: 2;
  padding-bottom: 1rem;
  max-height: 80px;
  margin-bottom: 1rem;
}
.add-comment-wrapper > p {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
}
.add-comment-wrapper button {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
}